<div class="container">
   <div class="connect">
      <h1>Lets Connect</h1>
   </div>
   <div class="social">
      <span class="skype">
         <a href="https://join.skype.com/invite/ppSenOYQ2eV6" target="blank" class="skype">
            <fa-icon [icon]="skype"></fa-icon>
         </a>
      </span>  
      <span class="linkedIn">
         <a href="https://www.linkedin.com/in/ankit-nath-2aa834b2/" target="blank" class="linkedIn">
            <fa-icon [icon]="linkedIn"></fa-icon>
         </a>
      </span>  
      <span class="facebook">
        <a href="https://www.facebook.com/ankit.nath.75" target="blank" class="facebook">
         <fa-icon [icon]="fb"></fa-icon>
        </a>
      </span>
      <span class="insta">
         <a href="https://www.instagram.com/wolverine_akn" target="blank" class="insta">
         <fa-icon [icon]="insta"></fa-icon>
         </a>
      </span>
      
        
   </div>
   <div class="form-container">
      <div>
         <h3>Send me a message</h3>
      </div>
      <form (ngSubmit) = "submit(); f.reset()" #f="ngForm">
        <label for="name">First Name</label>
        <input type="text" id="name"  [(ngModel)]="contactForm.firstname" name="firstname"
        placeholder="Your name.." required #firstname='ngModel'>
         
        <div [hidden] = "firstname.valid || !firstname.touched" class="invalid">
         Name is required
        </div>
    
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname"  [(ngModel)]="contactForm.lastname" name="lastname"
        placeholder="Your last name.." required #lastname="ngModel">
        <div [hidden] = "lastname.valid || !lastname.touched" class="invalid">
         Last Name is required
        </div>
    
        <label for="country">Email</label>
        <input type="text" id=email [(ngModel)]="contactForm.email" name="email" required #email="ngModel"
        placeholder="Your Email Address"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" >
        <div [hidden] = "email.valid || email.errors?.pattern || !email.touched" class="invalid">
           Please enter a valid email address
        </div>
    
        <label for="message">Message</label>
        <textarea id="message" name="subject" [(ngModel)]="contactForm.message" name="message" required #message="ngModel"
        placeholder="Write something.." style="height:200px"></textarea>

        <div [hidden] = "message.valid || !message.touched" class="invalid">
            Please enter your message
      </div>
    
        <input type="submit" value="Submit" [disabled]="!f.form.valid" >
      </form>
    </div>
</div>

<footer style="color: whitesmoke;">
    &copy; 2020. developed by&nbsp; <a href="https://github.com/siddhant-dev" target="blank" class="foot">
      <fa-icon [icon]="git" class="foot"></fa-icon> siddhant-dev
    </a>
</footer>