<div class="container">
   <div class="connect">
      <h1>Lets Connect</h1>
   </div>
   <div class="social">
      <span class="linkedIn">
         <a href="https://www.linkedin.com/in/ankit-nath-2aa834b2/" target="blank" class="linkedIn">
            <fa-icon [icon]="linkedIn"></fa-icon>
         </a>
      </span>  
      <span class="facebook">
        <a href="https://www.facebook.com/ankit.nath.75" target="blank" class="facebook">
         <fa-icon [icon]="fb"></fa-icon>
        </a>
      </span>
      <span class="insta">
         <a href="https://www.instagram.com/wolverine_akn" target="blank" class="insta">
         <fa-icon [icon]="insta"></fa-icon>
         </a>
      </span>
      
        
   </div>
   <div class="form-container">
      <div>
         <h3>Send me a message</h3>
      </div>
      <form action="/action_page.php">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
    
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
    
        <label for="country">Email</label>
        <input type="text" id=email placeholder="Your Email Address">
    
        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
    
        <input type="submit" value="Submit">
      </form>
    </div>
</div>

<footer style="color: whitesmoke;">
    &copy; 2020. developed by&nbsp; <a href="https://github.com/siddhant-dev" target="blank" class="foot">
      siddhant-dev
    </a>
</footer>