<div class="container">
   <h1>Work Experience</h1>

   <div class="work-head">
       <span><h2>Research Engineer,</h2> April 2019 - November 2019, <br> Aalto University - Helsinki Finland</span>
       <p>My key responsibilities included:       </p>
           <ul>
               <li>Implementing and testing SPI communication protocol between two Texas Instruments MSP430 microcontroller boards
                    establishing master-slave communication and displaying the message through serial port of slave by connecting with
                     PC.</li>
                     <li>
                        Implement embedded software using C, debugging using Hardware debugger and troubleshooting technical challenges
                     </li>
                     <li>
                        Developing, testing and debugging a python based test script to automate the thermal testing of Raspberry 
                        Pi camera in order to comply with the standards of space environment.
                     </li>
                     <li>
                        Developing functional testing procedures and thermal testing of different subsystems of the satellite.
                     </li>
                     <li>
                        Development and data processing of AMR magnetometer for FORESAIL 1 and 2 mission (Finnish National Space Mission)
                     </li>
                     <li>
                        Quality Assurance of test setups and testing procedures of different satellite subsystems and 
                        developing modular functions for magnetotorquer
                     </li>
           </ul>

   </div>
   <br>

   <h1>Trainings & Interships</h1>
   <div class="work-head">
       <span><h2>Post-Graduate Intern</h2>
        December 2019 – May 2020 <br>
        Post Graduate Diploma in IoT and Embedded Systems
Cranes Varsity – Bangalore, India
    </span>
    <p>I am undergoing an internship and training at Cranes Varsity in the following modules :</p>
    <ul>
        <li>
            Programming C, C++, Advance C & Data Structures
        </li>
        <li>
            ARM7 Architecture
        </li>
        <li>
            Embedded Protocols – UART, SPI, I2C, CORTEX-M Architecture
        </li>
        <li>Linux Commands, device driver, Shell Scripting & System Programming</li>
        <li>
            Embedded Testing , FreeRTOS
        </li>
        <li>
            Machine Learning using Python
        </li>
        <li>Automotive with CAN Analysis & AUTOSAR</li>
        <li>IoT Edge Node Design & Development</li>
        <li> IoT Advanced – Raspberry Pi as Gateway, Cloud & IoT Security – Encryption Standards, Secure communication</li>
        <li>
            Big Data , Cloud Computing, Neural Networks & Deep Learning
        </li>
    </ul>
   </div>
   <div class="work-head">
    <span><h2>Electronics Intern,</h2>
        August 2017 – February 2018 <br>
        AUREEL – Barcelona, Spain
    </span>
     <p> <b>Project: </b> Development of a virtual pacemaker prototype called 
     “REEN” that controls the pace of athletes real-time by projecting visual information</p>
     <p>A brief working summary and the responsibilities of the project is as follows:</p>
    <ul>
        <li>
            Analysis and implementation of electronics equipment on Arduino Uno board for the product “REEN”, a 
            virtual pacemaker that controls the pace of athletes real-time by projecting visual information.
        </li>
        <li>
            Testing, calibration and optimization of the performance and efficiency of the electronic equipment.
        </li>
        <li>
            Configured the IMU and GPS tracker of the device in order to connect it maximum satellite 
            connections in order to establish Precise Positioning method of GPS.
        </li>
        <li>Business development , promoting development of the company by procuring funds, establishing cooperation 
            with companies and applying for grants.</li>
    </ul>
    </div>

    <div class="work-head">
        <span><h2>R&D Intern,</h2>
            March 2017   – July 2017 <br>
            HEMAV- Barcelona, Spain 
    </span>
    <p> <b>Project: </b> DResearch and Development of a UAV project “Dronelimpio” to facilitate the use of UAVs for 
        cleaning warehouses and windows</p>
        <p>Major Duties included:</p>
    <ul>
        <li>
            Development and implementation of electronic equipments in a UAV for a specific project called “Dronelimpio”
        </li>
        <li>
            Integration of the different payloads, camera, gimbal, lidar, sensors (proximity , gauge , pressure), water tank, 
            sprinkling system, autopilot, air blower (different Horsepower for 3 prototypes) and battery / cable (
                depending on type of operation).
        </li>
        <li>
            Three prototypes were developed, depending on autonomous navigation, manual navigation, power budget, 
            power consumption, time duration, proximity, water pressure and attitude of operation.
        </li>
        <li>Engineered solutions to experimental problems for optimizing the flight time of the UAV for different 
            payloads and different conditions.</li>
    </ul>
    </div>
    <div class="work-head">
        <span><h2>Summer Trainee -  Airport & Aircraft Electrical Systems,</h2>
            June 2015 - July 2015 <br>
            Taneja Aerospace & Aviation Ltd – Bangalore, Karnataka
    </span>
        <p>Major Duties included:</p>
    <ul>
        <li>
            Understanding the different avionics and their functionalities in an aircraft.
        </li>
        <li>
            A detailed analogy of airport electrical systems and traffic signalling system
        </li>
        <li>
            Operation of the control room and different allied instrumentation
        </li>
        <li>Visit to the workshop and hanger of the aerodrome.</li>
        <li>
            Understanding the electrical power distribution of the hanger and power control station.
        </li>
    </ul>
    </div>
    <div style="margin: 2rem 0 2rem 0">
        <a download href="src/assets/Ankit_Nath_CV_Embedded_EU.pdf" class="button">
            Download Resume
        </a>
    </div>
</div>
