<div class="head">
    <span>Hi! I'm Ankit Nath</span>
</div>

<div class="content">
    <div class="brief">
        <p class="title">Embedded Software Developer</p>
    <p class="desc">A highly motivated and driven Embedded Software Engineer, with a focus on 
        implementing different industrial systems. I have experience in development, 
        testing and analysis of space-based technologies, instrumentation and low-frequency 
        noise reduction techniques.</p>
    </div>
    <div class="img">
        <img src="../../assets/ankit.png" alt="Me">
    </div>
</div>